.header-profile{
position: sticky;
display: flex;
flex-direction: column;
gap: 1rem;
border-bottom-width: 1px;
border-color: 'divider';
padding: 1rem;
}


@media (min-width: 48rem) {
    .md\:p-8 {
        padding: calc(var(--spacing) * 8);
    }
}