@import "tailwindcss";

html,
body,
#root,
.app{
  height: 100vh;
  width: 100%;
  font-family: "Onest Variable", sans-serif;
  --spacing: .25rem;
}

.app {
  display: flex;
  position: relative;
}

.content {
  flex-grow: 1;
  /* Le dice que "crezca" y ocupe el espacio sobrante */
  min-width: 0;
  /* ¡La clave! Permite que se encoja si no hay espacio */
  height: 100%;
  overflow-y: auto;
  /* Pone scroll vertical SI el contenido de la página es largo */
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
